<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookstore</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <property name="connection.pool_size">2</property>
        <!-- Select our SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- Echo the SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<!-- dbcp connection pool configuration -->
		<mapping class="com.bookstore.entities.Book" />
		<mapping class="com.bookstore.entities.User" />
		<mapping class="com.bookstore.entities.Role" />
		<mapping class="com.bookstore.entities.Folder" />
		<mapping class="com.bookstore.entities.File" />
		<mapping class="com.bookstore.entities.Tag" />
		<mapping class="com.bookstore.entities.Author" />
		<mapping class="com.bookstore.entities.Review" />
		<mapping class="com.bookstore.entities.Favorite" />
    </session-factory>
</hibernate-configuration>
